<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">MyShop</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Shopping Cart</a>
        </li>

        <li *ngIf="!user" class="nav-item">
          <a class="nav-link" (click)="login()">Login</a>
        </li>

        <li ngbDropdown *ngIf="user" class="nav-item dropdown">
          <a  ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.displayName}}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>